<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	    <!-- 引入项目配置文件 -->  
    <!-- <context:property-placeholder location="classpath:config.properties"   
        /> -->  
    <bean  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
            <list>  
                <value>classpath:db.properties</value>  
            </list>  
        </property>  
    </bean>
	<!-- <import resource="classpath:spring-mvc.xml"/> -->
	<import resource="spring-druid.xml" />  
    <import resource="spring-jdbc.xml" /> 
    <import resource="spring-freemarker.xml" /> 
</beans>